{% extends "main.html" %}
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    .md-typeset h1 {
      font-size: xx-large;
      font-weight: bolder;
      margin: unset;
    }

    /* Application header should be static for the landing page */
    .md-header {
      position: initial;
      display: none;
    }

    .md-tabs {
      display: none;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }

    .mdx-hero {
      margin-inline: auto;
    }

    .mdx-hero__image {
      margin-inline: auto;
    }

    .mdx-hero__buttons {
      margin-bottom: 20px;

    }

    .md-button {
      margin-left: 5px;
      margin-right: 5px;
    }

    .mdx-container {
      max-width: 600px;
      margin-inline: auto;

      @media screen and (min-height: 60em) {
        transform: translateY(30%);
      }

      div {
        text-align:center;
      }
    }

    [data-md-color-scheme="slate"] {
      .md-button {
        color: #f8f8f8;
      }
    }
  </style>

  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image">
          <img src="assets/images/logo/logo.png" alt="Cloud Native Suisse Romande logo" width="360" draggable="false">
        </div>
        <div class="mdx-hero__content">
          <h1>Cloud Native Suisse Romande *</h1>
          <p>{{ config.site_description }}</p>
          <p>On 04-05 December 2025, we will be organizing <a href="{{ 'events/kcd' | url }}">KCD Suisse Romande</a>. Save the date!</p>
          <p>* - Logo is temporary, ideas are <a href="https://github.com/cloud-native-suisse-romande/governance/issues/16" target="_blank">welcome</a>!</p>
        </div>
        <div class="mdx-hero__buttons">
          <a href="{{ 'events/kcd' | url }}" title="Events" class="md-button md-button--primary">
            KCD Suisse Romande
          </a>
          <a href="{{ 'events' | url }}" title="Events" class="md-button">
            Events
          </a>
          <a href="{{ 'members/join' | url }}" title="Memberships" class="md-button">
            Join Us!
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
{% endblock %}

